# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/SecurityCenterQt/FileContentIndex
/.vs/SecurityCenterQt/v17/ipch
/.vs/SecurityCenterQt/v17
/SecurityCenterQt/x64/Debug
/packages/OpenCV-Native.4.5.2.2
/x64/Debug
